{% extends 'base.html.twig' %}

{% block title %}Merci::Rafiki!{% endblock %}

{% block body %}
    <div class="container-fluid">
    
        <div class="row boxDiv">
        <div class="col-sm-8 right">
                <div class="filgramme">
                    MERCI
                </div>
                <div class="content">
                    <img style="width: 200px;" src="{{asset('images/successed.png')}}" alt="sucess">
                    <h1 style="font-size: 1.7rem; margin-top: 15px; text-align: center;">Paiement effectué avec succès</h1>
                    <p style="width: 500px; text-align: center; max-width: 80%; opacity: .5;">Votre vote a été enrégistré avec succès. N'hésitez pas de voter encore pour donner beaucoup plus de chance à votre artiste.</p>
                    <div class="back" style="margin-top: 30px;">
                        <a href="{{path('app_vote_process_start')}}" style="color: #B07A12;">Retour à la page d'accueil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 description left">
                <div class="amount">
                    <p>Vous avez payé</p>
                    <h3><span class="big-colored">{{amount_pay}} {{currency}}</span> pour <span class="big-colored">{{vote.numberOfVote}}</span> vote(s)</h3>
                </div>
                <table class="review" style="width: 90%; margin-top: 30px;" class="table">
                    <tbody>
                        <tr>
                            <td>Artiste</td>
                            <td>{{candidate.firstname}} {{candidate.lastname}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de votes</td>
                            <td>{{vote.numberOfVote}}</td>
                        </tr>
                        <tr>
                            <td>Reference</td>
                            <td>{{reference}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    
    </div>
{% endblock %}
