<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<meta name="keywords" content="Show, TV, Cinema, Streaming, Serie">
	<meta name="author" content="BN Mara">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
            <script src="https://kit.fontawesome.com/966d4eef42.js" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
            <script type="text/javascript"src="{{asset('js/jquery.37.js')}}"></script>
        {% block javascripts %}
            
          
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
    <div class="section" >
    <header>
  <!-- Jumbotron -->
  <!--<div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">-->
        <!-- Left elements -->
        <!--<div class="col-lg-2 col-sm-4 col-4">
          <a href="{/*{path('app_vote_process_start')}*/}" class="float-start">
            <img src="{*{asset('images/logo_title.png')}*}" height="35" />
          </a>
        </div>-->
        <!-- Left elements -->

        <!-- Center elements -->
        <!--<div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">-->
            <!--<a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign in</p>
            </a>-->
            <!--<a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center bg-warning" target="_blank">
              <i class="far fa-user m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0 .text-warning">Sign up</p>
            </a>-->
          <!--</div>
        </div>-->
        <!-- Center elements -->

        <!-- Right elements -->
        <!--<div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
           
          </div>
        </div>-->
        <!-- Right elements -->
      <!--</div>
    </div>
  </div>-->
  <!-- Jumbotron -->

  <!-- Heading -->
  <div class="" style="padding-bottom:10px">
  <img src="{{asset('images/b-desktop.png')}}" class="img-fluid d-none d-lg-block" alt="Responsive image">
  <img src="{{asset('images/b-android.jpg')}}" class="img-fluid d-lg-none" alt="Responsive image">

    <!--<div class="container py-4">-->
      <!--<h3 class="text-white mt-2">Support your favorite artist</h3>-->
      <!-- Breadcrumb -->
      <!--<nav class="d-flex mb-2">
        <h6 class="mb-0">
          <span class="text-white-50 mx-2"> Vote for your artist to win </span>
        </h6>
      </nav>-->
      <!-- Breadcrumb -->
    <!--</div>-->
    {# read and display several types of flash messages #}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

{% for label, flashes in app.session.flashbag.all %}
  {% for flash in flashes %}
    <br>
    <div class="container">
      {% if ( label == 'success' ) %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ flash }}
          </div>
      {% elseif ( label == 'danger' ) %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
           
            {{ flash }}
            
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endif %}
      </div>
  {% endfor %}
{% endfor %}

    
  </div>
  <!-- Heading -->
</header>

        {% block body %}{% endblock %}
<footer class="text-center text-lg-start text-muted bg-dark mt-3">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start pt-4 pb-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-12 col-lg-3 col-sm-12 mb-2">
          <!-- Content -->
          <a href="{{path('app_vote_process_start')}}" class="text-white h2">
            <img src="{{asset('images/logo_title.png')}}" height="35" />
          </a>
          <p class="mt-1 text-white">
            © 2023: Maajabu Rafiki
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">
            Contact
          </h6>
          <ul class="list-unstyled mb-4">
            <li><span class="text-white"><i class="fas fa-map-marker-alt"></i> N°16, Ave Basoko, Kinshasa</span></li>
        <br>
            <li><span class="text-white"><i class="fa fa-phone" ></i> +243 891 510 000</span></li>
            <br>
            <li><span class="text-white"><i class="fas fa-envelope"></i> contact@maajabugospel.com</span></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!--<div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <!--<h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
          <p class="text-white">Stay in touch with latest updates about our products and offers</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control border" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
            <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
              Join
            </button>
          </div>-->
        <!--</div>-->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <!--<h6 class="text-uppercase text-white fw-bold mb-2">
            Support
          </h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-white-50" href="#">Help center</a></li>
            <li><a class="text-white-50" href="#">Documents</a></li>
            <li><a class="text-white-50" href="#">Account restore</a></li>
            <li><a class="text-white-50" href="#">My orders</a></li>
          </ul>-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
          <p class="text-white">Restez en contact avec les dernières mises à jour sur nos produits et offres</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control border" id="inputEmail" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
            <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
              valider
            </button>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="">
    <div class="container">
      <div class="d-flex justify-content-between py-4 border-top">
        <!-- payment -->
        <div>
          <i class="fab fa-lg fa-cc-visa text-white"></i>
          <i class="fab fa-lg fa-cc-amex text-white"></i>
          <i class="fab fa-lg fa-cc-mastercard text-white"></i>
          <i class="fab fa-lg fa-cc-paypal text-white"></i>
        </div>
        <!-- payment -->

        <!-- language selector -->
        <!-- language selector -->
      </div>
    </div>
  </div>
</footer>
</div>
<script>
$(document).ready(function(){
 
  $('#button-addon2').click(function() {
	var value = $("#inputEmail").val();
	$.ajax({
	url: "{{ path('app_vote_process_newsletter') }}",
    type: "POST",
	data: {
            'email': value
    },
    success: function(response) {
		console.log(response);
        //response = JSON.parse(response);
        //$("div#myList").html(response.list);
		//$("span#ttal").html(response.total);    
    }
    });
  });
});
</script>
    </body>
</html>
